<?xml version="1.0" encoding="utf-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>URL</key>
    <dict>
      <key>NRK-Serie</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>http://tv\.nrk\.no/serie/.*/.*(/.*)?</string>
        </array>
        <key>TestURLs</key>
        <array>
          <string>http://tv.nrk.no/serie/bye-og-roenning/muhh33000112/sesong-1/episode-1</string>
        </array>
      </dict>
      <key>NRK-Program</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>http://tv\.nrk\.no/program/.*(/.*)?</string>
        </array>
        <key>TestURLs</key>
        <array>
          <string>http://tv.nrk.no/program/koid27004311</string>
        </array>
      </dict>
      <key>NRK-Live</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>http://tv\.nrk\.no/direkte/.*</string>
        </array>
        <key>TestURLs</key>
        <array>
          <string>http://tv.nrk.no/direkte/nrk1</string>
        </array>
      </dict>
      <key>NRK-Radio</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>http://lyd\.nrk\.no/.*</string>
        </array>
        <key>TestURLs</key>
        <array>
          <string>http://lyd.nrk.no/nrk_radio_p1_ostlandssendingen</string>
        </array>
      </dict>
    </dict>
  </dict>
</plist>