<?xml version="1.0" encoding="utf-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string></string>
  <key>CFBundleIdentifier</key>
  <string>com.plexapp.plugins.nrktv</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleSignature</key>
	<string>hook</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>PlexClientPlatforms</key>
	<string>*</string>
  <key>PlexMediaContainer</key>
  <array>
    <string>Flash</string>
  </array>
  <key>PlexURLServices</key>
  <dict>
    <key>NRK-Serie</key>
    <dict>
      <key>Identifier</key>
      <string>com.plexapp.plugins.nrktv</string>
      <key>URLPattern</key>
      <string>http://tv\.nrk\.no/serie/.*/.*(/.*)?</string>
      <key>TestURLs</key>
      <array>
        <string>http://tv.nrk.no/serie/ol-i-london-2012/mspo11120212/12-08-2012</string>
      </array>
    </dict>
    <key>NRK-Program</key>
    <dict>
      <key>Identifier</key>
      <string>com.plexapp.plugins.nrktv</string>
      <key>URLPattern</key>
      <string>http://tv\.nrk\.no/program/.*(/.*)?</string>
      <key>TestURLs</key>
      <array>
        <string>http://tv.nrk.no/program/koid27004311</string>
      </array>
    </dict>
    <key>NRK-Live</key>
    <dict>
      <key>Identifier</key>
      <string>com.plexapp.plugins.nrktv</string>
      <key>URLPattern</key>
      <string>http://tv\.nrk\.no/direkte/.*</string>
      <key>TestURLs</key>
      <array>
        <string>http://tv.nrk.no/direkte/nrk1</string>
      </array>
    </dict>
  </dict>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginMode</key>
	<string>AlwaysOn</string>
	<key>PlexPluginConsoleLogging</key>
	<string>1</string>
	<key>PlexPluginDevMode</key>
	<string>0</string>
</dict>
</plist>